
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        #map {
            height: 80%;;
        }
    </style>
    <script>
        let map;
        let polylines;  // save the Google Maps polyline "handlers" (list of object) s.t. we can clear them when needed.

        function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 42.89, lng: -78.74},
            zoom: 12,
          });
        }
      </script>
</head>

<body>
    <h1> Python Fetch Example</h1>

    <p id='embed'>To be replaced.</p>
    <p id='clock'>Time</p>

    <input id="datetime_picker" type="datetime-local" name="traffic_time">
    <button id="get_traffic_for_time_btn" name="get_traffic_for_time_btn" onclick="get_traffic_for_selected_time()">Get Traffic Condition</button>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<GOOGLE_MAPS_API_KEY>&callback=initMap&libraries=&v=weekly" async></script>

    <script>
        // substitution test
        document.getElementById('embed').innerHTML = "{{embed}}"

        // fetch json
          fetch('/test')
              .then(function (response) {
                  return response.json();
              }).then(function (text) {
                  console.log('GET response text:');
                  console.log(text); // Print the greeting as text
                  console.log(JSON.stringify(text))
                  console.log('')
              });

        // fetch results
          fetch('/getdata/10/33')
              .then(function (response) {
                  return response.text();
              }).then(function (text) {
                  console.log('GET response text:');
                  console.log(text); // Print the greeting as text
              });

        // set the value of the datetime picker
        var cur_datetime = new Date();
        document.getElementById("datetime_picker").value = cur_datetime.toISOString().slice(0, 19);  // TODO: set the correct timezone

        function get_traffic_for_selected_time() {
            console.log("Get traffic condition button clicked!");
            console.log(document.getElementById("datetime_picker").value)
            // fetch('/get_data_/date-time')
            // display on google maps
        /**
        * Plot the traffic conditions on the Google Maps.
        * @param {list of dictionay} road_speed - [{'points': list of [lat, lon], 'speed': float, 'speed_ratio': float}]
        * @return null
        */
        function plot_traffic_on_google_maps(road_speed) {
            polylines = [];
            for (var i = 0; i < road_speed.length; i++) {
                const points = road_speed[i]['points'];
                let coordinates = [];
                for (let i = 0; i < points.length; i++) {
                    coordinates.push({lat: points[i][0], lng: points[i][1]});
                }
                // const speed = road_speed[i]['speed'];
                const speed_ratio = road_speed[i]['speed_ratio'];

                const polyline = new google.maps.Polyline({
                        path: coordinates,
                        geodesic: true,
                        strokeColor: get_color_based_on_speed(speed_ratio),
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                });
                polyline.setMap(map);
                polylines.push(polyline);
            }
        }
        }

        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }

        startTime()

        </script>

<body>
