<head>
    <title>Traffic Condition in Buffalo, NY</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="/index_js.js"></script>
    <link href="static/css/milligram.min.css" rel="stylesheet">
    <style>
        #map {
            height: 80%;;
        }
    </style>
</head>

<body onload="onload_func();">
<h1>Traffic Condition in Buffalo, NY</h1>
<div>
    <p id='clock'></p>
</div>

<div style="overflow: auto; white-space: nowrap;">
<div style="display: inline-block;">
    <input id="datetime_picker" name="traffic_time" style="width: 220px" type="datetime-local">
</div>

<div style="display: inline-block;">
    <button id="btn_get_traffic_for_time" name="btn_get_traffic_for_time"
            onclick="get_traffic_for_given_time(Date.parse(document.getElementById('datetime_picker').value).toString().substr(0,10));">
        Get Traffic Condition
    </button>
    <button id="btn_get_current_traffic" name="btn_get_current_traffic"
            onclick="get_traffic_for_given_time(new Date().getTime().toString().substr(0,10));">Show Current Traffic</button>
<!--    <button onclick="clear_polylines_from_google_maps()">Clear Maps</button>-->
</div>
</div>


<div id="map"></div>

<!-- Fill the GOOGLE_MAPS_API_KEY in ./helper/global_var.py and open this webpage via Flask (python3 ./homepage.py),
the google_map_api_key will be auto fill-->
<script async src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap&libraries=&v=weekly"></script>

</body>

